<app-dfe-information-section
  data-s-home-page=""
  data-h-dfe-information-section=""
  ><div class="dfe-section" data-s-dfe-information-section="">
    <h1 data-s-dfe-information-section="">
      Emita sua Nota Fiscal de Serviço de Exploração de Vias (NFS-e Via)
    </h1>
    <div class="dfe-text" data-s-dfe-information-section="">
      <p data-s-dfe-information-section="">
        Segundo
        <strong data-s-dfe-information-section=""
          >Lei Complementar n° 214/2025</strong
        >, a partir de
        <strong data-s-dfe-information-section="">01/01/2026</strong> a
        <strong data-s-dfe-information-section="">NFS-e Via</strong> substituiu
        o
        <strong data-s-dfe-information-section=""
          >Documento Fiscal Equivalente (DFE)</strong
        >. Para acessar seus documentos fiscais basta clicar no botão abaixo.
      </p>
    </div>
    <button
      mat-raised-button=""
      class="go-dfe mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
      data-s-dfe-information-section=""
    >
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span
      ><span class="mdc-button__label">Emitir NFS-e</span
      ><span class="mat-mdc-focus-indicator"></span
      ><span class="mat-mdc-button-touch-target"></span>
    </button></div
></app-dfe-information-section>
