<app-download-app-call data-s-home-page="" data-h-download-app-call=""
  ><div class="body" data-s-download-app-call="">
    <h1 data-s-download-app-call="">USE O APLICATIVO</h1>
    <p data-s-download-app-call="">
      Baixe o aplicativo e tenha controle total das suas passagens, realizando
      os pagamentos
      <strong data-s-download-app-call="">pelo seu celular</strong> com
      praticidade.
    </p>
    <div class="flex flex-row justify-center" data-s-download-app-call="">
      <button class="mx-2" data-s-download-app-call="">
        <img
          src="/assets/images/icons/App-Store-copy.png"
          data-s-download-app-call=""
        /></button
      ><button class="mx-2" data-s-download-app-call="">
        <img
          src="/assets/images/icons/icone-google-play.png"
          data-s-download-app-call=""
        />
      </button>
    </div></div
></app-download-app-call>
