<app-first-steps-tip data-s-home-page="" data-h-first-steps-tip=""
  ><div class="first-steps-tip-body" data-s-first-steps-tip="">
    <div class="steps-itens" data-s-first-steps-tip="">
      <div class="step-item" data-s-first-steps-tip="">
        <img
          src="/assets/images/icons/facilidade.png"
          alt="cadastro"
          data-s-first-steps-tip=""
        />
        <p class="step-item-title" data-s-first-steps-tip="">FACILIDADE</p>
        <p class="step-item-text" data-s-first-steps-tip="">
          Crie sua conta e ative a praticidade:
          <strong data-s-first-steps-tip="">adicione créditos</strong> e deixe o
          <strong data-s-first-steps-tip="">pagamento automático</strong> cuidar
          de tudo por você!
        </p>
      </div>
      <div class="step-item" data-s-first-steps-tip="">
        <img
          src="/assets/images/icons/Alertas.png"
          alt="débitos"
          data-s-first-steps-tip=""
        />
        <p class="step-item-title" data-s-first-steps-tip="">ALERTAS</p>
        <p class="step-item-text" data-s-first-steps-tip="">
          Com o <strong data-s-first-steps-tip="">app</strong>, você fica no
          controle: receba
          <strong data-s-first-steps-tip="">notificações</strong> a cada nova
          cobrança.
        </p>
      </div>
      <div class="step-item" data-s-first-steps-tip="">
        <img
          src="/assets/images/icons/benefitsSem-filas.png"
          alt="pagamento"
          data-s-first-steps-tip=""
        />
        <p class="step-item-title" data-s-first-steps-tip="">SEM FILAS</p>
        <p class="step-item-text" data-s-first-steps-tip="">
          Esqueça as filas e ganhe tempo! Com o
          <strong data-s-first-steps-tip="">pedágio eletrônico</strong>, sua
          viagem fica
          <strong data-s-first-steps-tip=""
            >mais ágil, prática e sem paradas</strong
          >.
        </p>
      </div>
    </div>
    <button
      mat-raised-button=""
      class="sign-in mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
      data-s-first-steps-tip=""
    >
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span
      ><span class="mdc-button__label">CADASTRE-SE AGORA</span
      ><span class="mat-mdc-focus-indicator"></span
      ><span class="mat-mdc-button-touch-target"></span>
    </button></div
></app-first-steps-tip>
