<app-exemption-form data-h-exemption-form=""
  ><div class="page-container" data-s-exemption-form="">
    <app-main-header data-s-exemption-form="" data-h-main-header=""
      ><section class="header-body" data-s-main-header="">
        <img
          src="/assets/images/logos/logo-header.svg"
          alt="Nova 381"
          class="logo"
          data-s-main-header=""
        />
        <div class="header-links" data-s-main-header="">
          <button
            type="button"
            class="custom-fab-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
            data-s-main-header=""
          >
            <span
              class="mat-mdc-button-persistent-ripple mdc-fab__ripple"
            ></span
            ><span class="mdc-button__label">CONTESTAÇÃO</span
            ><span class="mat-mdc-focus-indicator"></span
            ><span class="mat-mdc-button-touch-target"></span>
          </button>
        </div>
      </section>
      <section class="burguer-menu" data-s-main-header="">
        <input
          type="checkbox"
          id="openSidebarMenu"
          class="openSidebarMenu"
          data-s-main-header=""
        /><label
          for="openSidebarMenu"
          aria-label="Abrir menu"
          class="sidebarIconToggle"
          data-s-main-header=""
          ><div class="spinner diagonal part-1" data-s-main-header=""></div>
          <div class="spinner horizontal" data-s-main-header=""></div>
          <div class="spinner diagonal part-2" data-s-main-header=""></div
        ></label>
        <div id="sidebarMenu" data-s-main-header="">
          <div class="main-content-wrapper" data-s-main-header="">
            <div data-s-main-header=""></div>
            <a role="button" tabindex="0" data-s-main-header="">Contestação</a>
          </div>
        </div>
      </section></app-main-header
    >
    <main
      class="flex-1 flex items-center justify-center px-4 py-12"
      data-s-exemption-form=""
    >
      <div class="max-w-4xl w-full p-8 space-y-6" data-s-exemption-form="">
        <h1
          class="text-3xl font-extrabold text-gray-900 text-center"
          data-s-exemption-form=""
        >
          Isenção de Veículos Oficiais – Cadastro Prévio Necessário
        </h1>
        <p class="text-gray-700 leading-relaxed" data-s-exemption-form="">
          Para fins de solicitação de isenção de pagamento de pedágio para
          veículos oficiais e do corpo diplomático, conforme previsto no Art.
          64º da Resolução ANTT nº 6.032/2023, é imprescindível o cadastro
          prévio do representante do órgão público no sistema da Concessionária
          Nova381.
        </p>
        <p class="text-gray-700 leading-relaxed" data-s-exemption-form="">
          Para realizar o cadastro de usuário e obter login no sistema de
          veículos isentos,
          <a
            class="text-indigo-600 underline hover:text-indigo-800"
            data-s-exemption-form=""
            >clique AQUI</a
          >.
        </p>
        <p class="text-gray-700 leading-relaxed" data-s-exemption-form="">
          Após o cadastro e liberação de acesso, será possível registrar a
          solicitação dos veículos e encaminhar os documentos.
        </p>
        <h2
          class="text-2xl font-semibold text-gray-800"
          data-s-exemption-form=""
        >
          Documentação obrigatória para solicitação
        </h2>
        <ul
          class="list-disc list-inside text-gray-700 space-y-2"
          data-s-exemption-form=""
        >
          <li data-s-exemption-form="">
            Encaminhamento de ofício solicitando a isenção (assinado pelo
            representante legal). Modelo do ofício:
            <a
              href="/assets/files/requisicao_isentos.docx"
              download=""
              class="text-indigo-600 underline hover:text-indigo-800"
              data-s-exemption-form=""
            >
              clique AQUI </a
            >.
            <ul
              class="list-disc list-inside ml-6 space-y-1"
              data-s-exemption-form=""
            >
              <li data-s-exemption-form="">
                Requerimento oficial, contendo:
                <ul
                  class="list-disc list-inside ml-6 space-y-1"
                  data-s-exemption-form=""
                >
                  <li data-s-exemption-form="">
                    Marca, modelo, ano de fabricação e cor predominante dos
                    veículos;
                  </li>
                  <li data-s-exemption-form="">
                    Nome do responsável pela solicitação, com cargo ou função;
                  </li>
                  <li data-s-exemption-form="">
                    Telefones e endereços (físico e eletrônico) para contato;
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-s-exemption-form="">
            Cópia do Certificado de Licenciamento do Veículo (CLV).
          </li>
          <li data-s-exemption-form="">
            Cópia do contrato de locação, quando aplicável.
          </li>
          <li data-s-exemption-form="">
            Em caso de veículos locados, envio do contrato de locação (incluindo
            termos aditivos), sendo obrigatório que o CLV esteja em nome da
            empresa ou órgão locatário conforme contrato.
          </li>
          <li data-s-exemption-form="">
            No caso de autarquias ou fundações públicas, cópia da norma de
            criação e da certidão de registro civil. A documentação deve ser
            enviada à Concessionária via sistema.
            <a
              class="text-indigo-600 underline hover:text-indigo-800"
              data-s-exemption-form=""
            >
              Clique AQUI </a
            >.
          </li>
        </ul>
        <div class="text-center" data-s-exemption-form="">
          <button
            class="custom-fab-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
            data-s-exemption-form=""
          >
            <span
              class="mat-mdc-button-persistent-ripple mdc-fab__ripple"
            ></span
            ><span class="mdc-button__label"> ABRIR FORMULÁRIO DE ISENÇÃO </span
            ><span class="mat-mdc-focus-indicator"></span
            ><span class="mat-mdc-button-touch-target"></span>
          </button>
        </div>
      </div>
    </main>
    <app-main-footer data-s-exemption-form="" data-h-main-footer=""
      ><section class="footer-section" data-s-main-footer="">
        <div class="footer-infos" data-s-main-footer="">
          <img
            src="/assets/images/logos/logo-rodapé.png"
            alt="Nova 381"
            class="logo"
            data-s-main-footer=""
          />
          <p data-s-main-footer="">
            Concessionária de Rodovia Nova 381 S.A. CNPJ 58.239.603/0001-20
          </p>
          <p data-s-main-footer="">
            R. Silva Fortes, 47 - 5º andar - União | CEP 31160-320 - Belo
            Horizonte/MG
          </p>
        </div>
        <div class="social-media" data-s-main-footer="">
          <a
            href="https://www.linkedin.com/company/nova381/"
            target="_blank"
            data-s-main-footer=""
            ><img
              src="/assets/images/icons/icone-linkedin.svg"
              data-s-main-footer="" /></a
          ><a
            href="https://www.instagram.com/_nova381/"
            target="_blank"
            data-s-main-footer=""
            ><img
              src="/assets/images/icons/icone-instagram.svg"
              data-s-main-footer="" /></a
          ><a
            href="https://www.youtube.com/@Nova381MG"
            target="_blank"
            data-s-main-footer=""
            ><img
              src="/assets/images/icons/icone-youtube.svg"
              data-s-main-footer=""
          /></a>
        </div></section
    ></app-main-footer></div
></app-exemption-form>
