<app-how-it-works data-s-home-page="" data-h-how-it-works=""
  ><section class="how-it-works" data-s-how-it-works="">
    <img
      src="/assets/images/pictures/Mockup-app-nova-381.png"
      class="app-mockup"
      data-s-how-it-works=""
    />
    <div class="info" data-s-how-it-works="">
      <h1 data-s-how-it-works="">COMO FUNCIONA?</h1>
      <p data-s-how-it-works="">
        O <strong data-s-how-it-works="">pedágio eletrônico</strong> da Nova 381
        funciona por meio de equipamentos de monitoramento instalados em
        pórticos localizados em
        <strong data-s-how-it-works="">5 pontos</strong> da rodovia BR-381. As
        passagens pelos pórticos são
        <strong data-s-how-it-works="">capturadas automáticamente</strong>, seja
        por <strong data-s-how-it-works="">TAG</strong> ou
        <strong data-s-how-it-works="">leitura da placa.</strong>
      </p>
      <img
        src="/assets/images/pictures/Img-como-funciona.png"
        class="toll-image"
        data-s-how-it-works=""
      />
    </div></section
></app-how-it-works>
