<app-know-more data-s-home-page="" data-h-know-more=""
  ><section class="know-more-body" data-s-know-more="">
    <h1 class="title" data-s-know-more="">
      Construindo um<br data-s-know-more="" />
      novo caminho.
    </h1>
    <div class="infos" data-s-know-more="">
      <p data-s-know-more="">
        O pedagio eletrônico da Nova 381 permite que você passe livremente pelos
        pórticos, com a cobrança sendo feita automaticamente por meio da leitura
        da placa ou do tag eletrônico. Tudo isso sem precisar parar!
      </p>
    </div>
    <div class="button" data-s-know-more="">
      <button class="know-more-button" data-s-know-more="">SAIBA MAIS</button>
    </div>
  </section></app-know-more
>
