<app-main-header data-s-home-page="" data-h-main-header=""
  ><section class="header-body" data-s-main-header="">
    <img
      src="/assets/images/logos/logo-header.svg"
      alt="Nova 381"
      class="logo"
      data-s-main-header=""
    />
    <div class="header-links" data-s-main-header="">
      <button
        type="button"
        class="custom-fab-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
        data-s-main-header=""
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span
        ><span class="mdc-button__label">CONTESTAÇÃO</span
        ><span class="mat-mdc-focus-indicator"></span
        ><span class="mat-mdc-button-touch-target"></span></button
      ><button
        type="button"
        class="custom-fab-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
        data-s-main-header=""
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span
        ><span class="mdc-button__label">CADASTRAR</span
        ><span class="mat-mdc-focus-indicator"></span
        ><span class="mat-mdc-button-touch-target"></span>
      </button>
    </div>
  </section>
  <section class="burguer-menu" data-s-main-header="">
    <input
      type="checkbox"
      id="openSidebarMenu"
      class="openSidebarMenu"
      data-s-main-header=""
    /><label
      for="openSidebarMenu"
      aria-label="Abrir menu"
      class="sidebarIconToggle"
      data-s-main-header=""
      ><div class="spinner diagonal part-1" data-s-main-header=""></div>
      <div class="spinner horizontal" data-s-main-header=""></div>
      <div class="spinner diagonal part-2" data-s-main-header=""></div
    ></label>
    <div id="sidebarMenu" data-s-main-header="">
      <div class="main-content-wrapper" data-s-main-header="">
        <div data-s-main-header=""></div>
        <a role="button" tabindex="0" data-s-main-header="">Contestação</a
        ><a role="button" tabindex="0" data-s-main-header="">Cadastre-se</a>
      </div>
    </div>
  </section></app-main-header
>
