<app-main-footer data-s-home-page="" data-h-main-footer=""
  ><section class="footer-section" data-s-main-footer="">
    <div class="footer-infos" data-s-main-footer="">
      <img
        src="/assets/images/logos/logo-rodapé.png"
        alt="Nova 381"
        class="logo"
        data-s-main-footer=""
      />
      <p data-s-main-footer="">
        Concessionária de Rodovia Nova 381 S.A. CNPJ 58.239.603/0001-20
      </p>
      <p data-s-main-footer="">
        R. Silva Fortes, 47 - 5º andar - União | CEP 31160-320 - Belo
        Horizonte/MG
      </p>
    </div>
    <div class="social-media" data-s-main-footer="">
      <a
        href="https://www.linkedin.com/company/nova381/"
        target="_blank"
        data-s-main-footer=""
        ><img
          src="/assets/images/icons/icone-linkedin.svg"
          data-s-main-footer="" /></a
      ><a
        href="https://www.instagram.com/_nova381/"
        target="_blank"
        data-s-main-footer=""
        ><img
          src="/assets/images/icons/icone-instagram.svg"
          data-s-main-footer="" /></a
      ><a
        href="https://www.youtube.com/@Nova381MG"
        target="_blank"
        data-s-main-footer=""
        ><img
          src="/assets/images/icons/icone-youtube.svg"
          data-s-main-footer=""
      /></a>
    </div></section
></app-main-footer>
