<app-ticket-search-section data-s-home-page="" data-h-ticket-search-section=""
  ><section
    id="search-section"
    class="search-section"
    data-s-ticket-search-section=""
  >
    <form
      novalidate=""
      class="ticket-search-form"
      data-s-ticket-search-section=""
    >
      <h2 class="ticket-search-card-title" data-s-ticket-search-section="">
        <strong data-s-ticket-search-section="">PAGUE AQUI</strong> suas
        passagens no
        <strong data-s-ticket-search-section="">pedágio eletrônico</strong> da
        <strong data-s-ticket-search-section="">Nova 381</strong>.
      </h2>
      <div class="plate-field" data-s-ticket-search-section="">
        <label for="plate" class="plate-label" data-s-ticket-search-section=""
          >Insira sua placa:</label
        ><input
          autocomplete="off"
          placeholder="AAA0A00"
          id="plate"
          spellcheck="false"
          type="text"
          class="plate-input"
          data-s-ticket-search-section=""
        />
        <p class="input-error-message" data-s-ticket-search-section=""></p>
      </div>
      <section class="terms-checkbox-group" data-s-ticket-search-section="">
        <mat-checkbox
          class="mat-mdc-checkbox mat-accent"
          id="mat-mdc-checkbox-1"
          data-s-ticket-search-section=""
          ><div
            mat-internal-form-field=""
            class="mdc-form-field mat-internal-form-field"
          >
            <div class="mdc-checkbox">
              <div class="mat-mdc-checkbox-touch-target"></div>
              <input
                type="checkbox"
                class="mdc-checkbox__native-control"
                id="mat-mdc-checkbox-1-input"
                tabindex="0"
              />
              <div class="mdc-checkbox__ripple"></div>
              <div class="mdc-checkbox__background">
                <svg
                  focusable="false"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  class="mdc-checkbox__checkmark"
                >
                  <path
                    fill="none"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"
                    class="mdc-checkbox__checkmark-path"
                  ></path>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
              <div
                mat-ripple=""
                class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"
              ></div>
            </div>
            <label class="mdc-label" for="mat-mdc-checkbox-1-input"
              >Minha placa é estrangeira</label
            >
          </div></mat-checkbox
        ><mat-checkbox
          class="mat-mdc-checkbox mat-accent"
          id="mat-mdc-checkbox-2"
          data-s-ticket-search-section=""
          ><div
            mat-internal-form-field=""
            class="mdc-form-field mat-internal-form-field"
          >
            <div class="mdc-checkbox">
              <div class="mat-mdc-checkbox-touch-target"></div>
              <input
                type="checkbox"
                class="mdc-checkbox__native-control"
                id="mat-mdc-checkbox-2-input"
                tabindex="0"
              />
              <div class="mdc-checkbox__ripple"></div>
              <div class="mdc-checkbox__background">
                <svg
                  focusable="false"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  class="mdc-checkbox__checkmark"
                >
                  <path
                    fill="none"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"
                    class="mdc-checkbox__checkmark-path"
                  ></path>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
              <div
                mat-ripple=""
                class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"
              ></div>
            </div>
            <label class="mdc-label" for="mat-mdc-checkbox-2-input">
              Estou de acordo com os
              <a
                href="https://nova381.com/politica-de-privacidade-e-cookies/"
                target="_blank"
                data-s-ticket-search-section=""
                >Termos de Uso</a
              >
              e a
              <a
                href="https://nova381.com/politica-de-privacidade-e-cookies/"
                target="_blank"
                data-s-ticket-search-section=""
                >Politica de Privacidade</a
              ></label
            >
          </div></mat-checkbox
        >
      </section>
      <div
        class="flex flex-col w-full items-center gap-10px"
        data-s-ticket-search-section=""
      >
        <button
          class="custom-fab-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
          data-s-ticket-search-section=""
        >
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span
          ><span class="mdc-button__label">Consultar minhas passagens</span
          ><span class="mat-mdc-focus-indicator"></span
          ><span class="mat-mdc-button-touch-target"></span></button
        ><button
          class="sign-in-button mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
          data-s-ticket-search-section=""
        >
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span
          ><span class="mdc-button__label">Entrar na minha conta</span
          ><span class="mat-mdc-focus-indicator"></span
          ><span class="mat-mdc-button-touch-target"></span>
        </button>
      </div>
    </form></section
></app-ticket-search-section>
